.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.958008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.232400px;}
.ls4{letter-spacing:-0.215200px;}
.ls1{letter-spacing:-0.000002px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.000002px;}
.ls3{letter-spacing:0.078800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.148800px;}
._0{width:1.085280px;}
.fc1{color:rgb(205,53,41);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.160000px;}
.fs4{font-size:36.000000px;}
.fs1{font-size:44.160000px;}
.fs3{font-size:48.000000px;}
.fs2{font-size:63.840000px;}
.y11{bottom:-5.640000px;}
.y1{bottom:0.000000px;}
.y8{bottom:2.400000px;}
.y18{bottom:2.520000px;}
.yd{bottom:2.640000px;}
.y13{bottom:3.000000px;}
.y5{bottom:3.600000px;}
.yf{bottom:3.720000px;}
.y16{bottom:9.480000px;}
.y1a{bottom:9.600000px;}
.y27{bottom:23.430000px;}
.y3{bottom:35.304000px;}
.y0{bottom:35.500000px;}
.y2{bottom:74.664000px;}
.y2d{bottom:105.020000px;}
.y2c{bottom:116.060000px;}
.y2b{bottom:127.100000px;}
.y26{bottom:136.820000px;}
.y2a{bottom:150.980000px;}
.y29{bottom:165.290000px;}
.y28{bottom:179.570000px;}
.y25{bottom:193.250000px;}
.y24{bottom:198.890000px;}
.y23{bottom:213.170000px;}
.y22{bottom:227.450000px;}
.y21{bottom:241.610000px;}
.y20{bottom:255.410000px;}
.y1e{bottom:261.050000px;}
.y1f{bottom:275.210000px;}
.y1c{bottom:289.510000px;}
.y1d{bottom:303.790000px;}
.y19{bottom:317.950000px;}
.y1b{bottom:332.230000px;}
.y15{bottom:346.510000px;}
.y17{bottom:360.670000px;}
.y14{bottom:374.470000px;}
.y12{bottom:380.110000px;}
.y10{bottom:394.750000px;}
.ye{bottom:400.390000px;}
.yc{bottom:415.660000px;}
.yb{bottom:433.300000px;}
.ya{bottom:444.940000px;}
.y9{bottom:458.860000px;}
.y7{bottom:472.900000px;}
.y6{bottom:489.340000px;}
.y4{bottom:502.540000px;}
.hb{height:5.400000px;}
.h7{height:13.440000px;}
.he{height:13.560000px;}
.h10{height:13.584000px;}
.hc{height:14.640000px;}
.h8{height:14.760000px;}
.ha{height:14.784000px;}
.h4{height:19.680000px;}
.h2{height:24.120000px;}
.h12{height:27.000000px;}
.hd{height:27.720000px;}
.hf{height:27.744000px;}
.h13{height:32.516250px;}
.h6{height:33.120000px;}
.h3{height:33.486562px;}
.h9{height:36.000000px;}
.h5{height:47.880000px;}
.h11{height:56.184000px;}
.h1{height:489.000000px;}
.h0{height:595.320000px;}
.w26{width:15.480000px;}
.w15{width:15.600000px;}
.w1a{width:15.720000px;}
.w6{width:25.560000px;}
.w9{width:25.944000px;}
.w13{width:29.280000px;}
.wc{width:35.520000px;}
.w5{width:35.544000px;}
.w20{width:38.064000px;}
.w23{width:38.424000px;}
.w12{width:38.664000px;}
.w8{width:42.000000px;}
.w24{width:43.200000px;}
.w21{width:43.800000px;}
.w25{width:44.040000px;}
.w22{width:44.520000px;}
.w18{width:46.680000px;}
.w29{width:47.160000px;}
.w1d{width:47.400000px;}
.wb{width:53.520000px;}
.w14{width:59.040000px;}
.wa{width:62.520000px;}
.wd{width:62.544000px;}
.w7{width:84.480000px;}
.we{width:98.520000px;}
.w19{width:104.160000px;}
.w2a{width:104.400000px;}
.w1e{width:104.520000px;}
.wf{width:105.720000px;}
.w1f{width:126.980000px;}
.w4{width:165.020000px;}
.w17{width:189.890000px;}
.w28{width:190.370000px;}
.w1c{width:190.610000px;}
.w10{width:211.700000px;}
.w16{width:213.980000px;}
.w27{width:214.220000px;}
.w1b{width:214.460000px;}
.w11{width:261.890000px;}
.w3{width:621.550000px;}
.w1{width:701.000000px;}
.w2{width:841.919987px;}
.w0{width:841.920000px;}
.x1{left:0.000013px;}
.x7{left:3.240000px;}
.x29{left:5.400000px;}
.x27{left:7.800000px;}
.x1f{left:9.840000px;}
.x28{left:11.400000px;}
.x9{left:17.760000px;}
.x21{left:19.560000px;}
.xd{left:21.000000px;}
.x26{left:22.320000px;}
.x23{left:23.640000px;}
.x11{left:26.760000px;}
.x2a{left:39.500000px;}
.x15{left:49.200000px;}
.x24{left:52.200000px;}
.x1d{left:63.860000px;}
.x0{left:70.000000px;}
.x6{left:71.400000px;}
.x1c{left:89.070000px;}
.x22{left:95.180000px;}
.x2{left:106.219987px;}
.x4{left:110.180000px;}
.x5{left:123.360000px;}
.x18{left:130.940000px;}
.x19{left:139.100000px;}
.x25{left:153.620000px;}
.x1a{left:198.140000px;}
.x1b{left:213.980000px;}
.x16{left:216.380000px;}
.x8{left:236.900000px;}
.xa{left:272.930000px;}
.xb{left:298.970000px;}
.x3{left:333.409987px;}
.xc{left:384.050000px;}
.xe{left:426.530000px;}
.x17{left:428.570000px;}
.xf{left:452.950000px;}
.x10{left:515.950000px;}
.x12{left:569.950000px;}
.x13{left:605.950000px;}
.x1e{left:619.300000px;}
.x2c{left:643.419987px;}
.x20{left:666.700000px;}
.x14{left:668.980000px;}
.x2b{left:771.099987px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.309867pt;}
.ls4{letter-spacing:-0.286933pt;}
.ls1{letter-spacing:-0.000003pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.000003pt;}
.ls3{letter-spacing:0.105067pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.531733pt;}
._0{width:1.447040pt;}
.fs0{font-size:42.880000pt;}
.fs4{font-size:48.000000pt;}
.fs1{font-size:58.880000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:85.120000pt;}
.y11{bottom:-7.520000pt;}
.y1{bottom:0.000000pt;}
.y8{bottom:3.200000pt;}
.y18{bottom:3.360000pt;}
.yd{bottom:3.520000pt;}
.y13{bottom:4.000000pt;}
.y5{bottom:4.800000pt;}
.yf{bottom:4.960000pt;}
.y16{bottom:12.640000pt;}
.y1a{bottom:12.800000pt;}
.y27{bottom:31.240000pt;}
.y3{bottom:47.072000pt;}
.y0{bottom:47.333333pt;}
.y2{bottom:99.552000pt;}
.y2d{bottom:140.026667pt;}
.y2c{bottom:154.746667pt;}
.y2b{bottom:169.466667pt;}
.y26{bottom:182.426667pt;}
.y2a{bottom:201.306667pt;}
.y29{bottom:220.386667pt;}
.y28{bottom:239.426667pt;}
.y25{bottom:257.666667pt;}
.y24{bottom:265.186667pt;}
.y23{bottom:284.226667pt;}
.y22{bottom:303.266667pt;}
.y21{bottom:322.146667pt;}
.y20{bottom:340.546667pt;}
.y1e{bottom:348.066667pt;}
.y1f{bottom:366.946667pt;}
.y1c{bottom:386.013333pt;}
.y1d{bottom:405.053333pt;}
.y19{bottom:423.933333pt;}
.y1b{bottom:442.973333pt;}
.y15{bottom:462.013333pt;}
.y17{bottom:480.893333pt;}
.y14{bottom:499.293333pt;}
.y12{bottom:506.813333pt;}
.y10{bottom:526.333333pt;}
.ye{bottom:533.853333pt;}
.yc{bottom:554.213333pt;}
.yb{bottom:577.733333pt;}
.ya{bottom:593.253333pt;}
.y9{bottom:611.813333pt;}
.y7{bottom:630.533333pt;}
.y6{bottom:652.453333pt;}
.y4{bottom:670.053333pt;}
.hb{height:7.200000pt;}
.h7{height:17.920000pt;}
.he{height:18.080000pt;}
.h10{height:18.112000pt;}
.hc{height:19.520000pt;}
.h8{height:19.680000pt;}
.ha{height:19.712000pt;}
.h4{height:26.240000pt;}
.h2{height:32.160000pt;}
.h12{height:36.000000pt;}
.hd{height:36.960000pt;}
.hf{height:36.992000pt;}
.h13{height:43.355000pt;}
.h6{height:44.160000pt;}
.h3{height:44.648750pt;}
.h9{height:48.000000pt;}
.h5{height:63.840000pt;}
.h11{height:74.912000pt;}
.h1{height:652.000000pt;}
.h0{height:793.760000pt;}
.w26{width:20.640000pt;}
.w15{width:20.800000pt;}
.w1a{width:20.960000pt;}
.w6{width:34.080000pt;}
.w9{width:34.592000pt;}
.w13{width:39.040000pt;}
.wc{width:47.360000pt;}
.w5{width:47.392000pt;}
.w20{width:50.752000pt;}
.w23{width:51.232000pt;}
.w12{width:51.552000pt;}
.w8{width:56.000000pt;}
.w24{width:57.600000pt;}
.w21{width:58.400000pt;}
.w25{width:58.720000pt;}
.w22{width:59.360000pt;}
.w18{width:62.240000pt;}
.w29{width:62.880000pt;}
.w1d{width:63.200000pt;}
.wb{width:71.360000pt;}
.w14{width:78.720000pt;}
.wa{width:83.360000pt;}
.wd{width:83.392000pt;}
.w7{width:112.640000pt;}
.we{width:131.360000pt;}
.w19{width:138.880000pt;}
.w2a{width:139.200000pt;}
.w1e{width:139.360000pt;}
.wf{width:140.960000pt;}
.w1f{width:169.306667pt;}
.w4{width:220.026667pt;}
.w17{width:253.186667pt;}
.w28{width:253.826667pt;}
.w1c{width:254.146667pt;}
.w10{width:282.266667pt;}
.w16{width:285.306667pt;}
.w27{width:285.626667pt;}
.w1b{width:285.946667pt;}
.w11{width:349.186667pt;}
.w3{width:828.733333pt;}
.w1{width:934.666667pt;}
.w2{width:1122.559983pt;}
.w0{width:1122.560000pt;}
.x1{left:0.000017pt;}
.x7{left:4.320000pt;}
.x29{left:7.200000pt;}
.x27{left:10.400000pt;}
.x1f{left:13.120000pt;}
.x28{left:15.200000pt;}
.x9{left:23.680000pt;}
.x21{left:26.080000pt;}
.xd{left:28.000000pt;}
.x26{left:29.760000pt;}
.x23{left:31.520000pt;}
.x11{left:35.680000pt;}
.x2a{left:52.666667pt;}
.x15{left:65.600000pt;}
.x24{left:69.600000pt;}
.x1d{left:85.146667pt;}
.x0{left:93.333333pt;}
.x6{left:95.200000pt;}
.x1c{left:118.760000pt;}
.x22{left:126.906667pt;}
.x2{left:141.626650pt;}
.x4{left:146.906667pt;}
.x5{left:164.480000pt;}
.x18{left:174.586667pt;}
.x19{left:185.466667pt;}
.x25{left:204.826667pt;}
.x1a{left:264.186667pt;}
.x1b{left:285.306667pt;}
.x16{left:288.506667pt;}
.x8{left:315.866667pt;}
.xa{left:363.906667pt;}
.xb{left:398.626667pt;}
.x3{left:444.546650pt;}
.xc{left:512.066667pt;}
.xe{left:568.706667pt;}
.x17{left:571.426667pt;}
.xf{left:603.933333pt;}
.x10{left:687.933333pt;}
.x12{left:759.933333pt;}
.x13{left:807.933333pt;}
.x1e{left:825.733333pt;}
.x2c{left:857.893317pt;}
.x20{left:888.933333pt;}
.x14{left:891.973333pt;}
.x2b{left:1028.133317pt;}
}
